import(limma,gam,Hmisc,gplots)

export(calcLinear,calcLogistic,calcSdc,calcSuperCurve,correctBG,normalizeRPPA,pick.high.conc,plotMeasurementsQC,plotQC,plotTimeCourse,plotqq,read.Data,test.correlation,remove.arrays,rppa2boxplot,rppaList2ExpressionSet,rppaList2Heatmap,sample.median,select.measurements,select.sample.group,write.Data)
